.container {
  width: 300px;
}

.title {
  font-size: 1.25rem;
  font-weight: 600;
}

.label {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 8px;
}

.label > div {
  width: 24px;
  height: 24px;
}

.label > span {
  font-size: 1.25rem;
}
