:root {
  --color-background: #212121;
  --color-primary: #5E9D40;
  --color-primary-hover: #4e8434;
  --color-neutral-1: #EBEBEB;
  --color-neutral-1-hover: #dcdcdc;
  --color-neutral-2: #B4B4B4;
  --color-neutral-3: #858585;
  --color-neutral-4: #555555;
  --color-error: #E83333;
  --color-error-hover: #cb2b2b;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  font-family: 'Inter', sans-serif;
  font-size: 1rem;

  border: 0;
  outline: none;
}

body {
  background-color: var(--color-background);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
