.container {
  display: flex;
  align-items: center;

  height: 64px;
  padding: 0 16px;

  background-color: var(--color-neutral-1);
  border-radius: 12px;
}

.container:hover {
  cursor: text;
}

.input {
  width: 100%;
  font-size: 1.125rem;
  background-color: transparent;
}

.input::placeholder {
  color: var(--color-neutral-2);
}
