.table {
  width: 100%;
  border-collapse: collapse;
}

.table th, td {
  padding: 8px 12px;
  font-size: 0.875rem;
  border: 1px solid #000;
  text-align: center;
}

.table th:first-child {
  width: 0;
}

.table input[type='checkbox'] {
  vertical-align: middle;
  width: 18px;
  height: 18px;
}
